@import '~bootstrap/dist/css/bootstrap.min.css';

.div-purchase {
    text-align: center;
    padding: 10px;
    width: 600px;
    border: 2px solid rgb(253, 177, 222);
    margin: 20px auto;
    font-size: x-large;
    font-style: bold;

}

.boldClass {
    font-weight: bold;
}

.colorClass {
    color: red;
}